@model BlowOut.Models.Instrument

@{
    ViewBag.Title = "Instrument";
}
<link rel="stylesheet" type="text/css" href="~/Content/MyStyles.css" />

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
</head>
<body>

    <h2>@Model.InstrumentName</h2>
    @if (Model.InstrumentID == 1)
    {
    <center>
        <img src="~/Content/Images/trumpet.png" class="imagetwo">
        <br />
        <button type="button" class="collapsible">New Price</button>
        <div class="content">
            <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
            <p>New Price: $@Html.DisplayFor(model => model.NewPrice).00</p>
        </div>
        <br />
        <button type="button" class="collapsible">Old Price</button>
        <div class="content">
            <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
            <p>New Price: $@Html.DisplayFor(model => model.OldPrice).00</p>
        </div>
    </center>
    }
    else if (Model.InstrumentID == 2)
    {
    <center>
        <img src="~/Content/Images/trumpet.png" class="imagetwo">
        <br />
        <button type="button" class="collapsible">New Price</button>
        <div class="content">
            <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
            <p>New Price: $@Html.DisplayFor(model => model.NewPrice).00</p>
        </div>
        <br />
        <button type="button" class="collapsible">Old Price</button>
        <div class="content">
            <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
            <p>New Price: $@Html.DisplayFor(model => model.OldPrice).00</p>
        </div>
    </center>

    }
    else if (Model.InstrumentID == 3)
    {
    <center>
        <img src="~/Content/Images/tuba.png" class="imagetwo" />
        <br />
        <button type="button" class="collapsible">New Price</button>
        <div class="content">
            <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
            <p>New Price: $@Html.DisplayFor(model => model.NewPrice).00</p>
        </div>
        <br />
        <button type="button" class="collapsible">Old Price</button>
        <div class="content">
            <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
            <p>New Price: $@Html.DisplayFor(model => model.OldPrice).00</p>
        </div>
    </center>

    }
    else if (Model.InstrumentID == 4)
    {
    <center>
        <img src="~/Content/Images/flute.png" class="imagetwo" />
        <br />
        <button type="button" class="collapsible">New Price</button>
        <div class="content">
            <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
            <p>New Price: $@Html.DisplayFor(model => model.NewPrice).00</p>
        </div>
        <br />
        <button type="button" class="collapsible">Old Price</button>
        <div class="content">
            <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
            <p>New Price: $@Html.DisplayFor(model => model.OldPrice).00</p>
        </div>
    </center>
    }
    else if (Model.InstrumentID == 5)
    {
    <center>
        <img src="~/Content/Images/clarinet.png" class="imagetwo" />
        <br />
        <button type="button" class="collapsible">New Price</button>
        <div class="content">
            <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
            <p>New Price: $@Html.DisplayFor(model => model.NewPrice).00</p>
        </div>
        <br />
        <button type="button" class="collapsible">Old Price</button>
        <div class="content">
            <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
            <p>New Price: $@Html.DisplayFor(model => model.OldPrice).00</p>
        </div>
    </center>
    }
    else if (Model.InstrumentID == 6)
    {<center>
    <img src="~/Content/Images/Saxophone.png" class="imagetwo" />
    <br />
    <button type="button" class="collapsible">New Price</button>
    <div class="content">
        <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
        <p>New Price: $@Html.DisplayFor(model => model.NewPrice).00</p>
    </div>
    <br />
    <button type="button" class="collapsible">Old Price</button>
    <div class="content">
        <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
        <p>New Price: $@Html.DisplayFor(model => model.OldPrice).00</p>
    </div>
</center>
    }


    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

</body>
</html>



