@model BlowOut.Models.Instrument

@{
    ViewBag.Title = "Instrument";
}
<link rel="stylesheet" type="text/css" href="~/Content/MyStyles.css" />

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
</head>
<body>

    
    @if (Model.InstrumentID == 1)
    {
        <div class="mason">
            <img src="~/Content/Images/trumpet.png" class="imagetwo">
            <br />
            <button type="button" class="collapsible">New Price</button>
            <div class="content">
                <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
                <p>New Price: $@Html.DisplayFor(model => model.NewPrice).00</p>
                <p id="disclosure">
                    Disclosure:After an 18 month rental period renting party will obtain ownership of
                    instrument. All Items returned before 3 month rental time period are subject to a $200
                    re-stocking fee. Rental returns before 18 months will forfeit any equity in instrument.
                </p>
            </div>
            <br />
            <button type="button" class="collapsible">Old Price</button>
            <div class="content">
                <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
                <p>New Price: $@Html.DisplayFor(model => model.OldPrice).00</p>
                <p id="disclosure">
                    Disclosure:After an 18 month rental period renting party will obtain ownership of
                    instrument. All Items returned before 3 month rental time period are subject to a $200
                    re-stocking fee. Rental returns before 18 months will forfeit any equity in instrument.
                </p>
            </div>
        </div>
    }
    else if (Model.InstrumentID == 2)
    {
        <div class="mason">
            <img src="~/Content/Images/Trombone.jpg" class="imagetwo">
            <br />
            <button type="button" class="collapsible">New Price</button>
            <div class="content">
                <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
                <p>New Price: $@Html.DisplayFor(model => model.NewPrice).00</p>
                <p id="disclosure">
                    Disclosure:After an 18 month rental period renting party will obtain ownership of
                    instrument. All Items returned before 3 month rental time period are subject to a $200
                    re-stocking fee. Rental returns before 18 months will forfeit any equity in instrument.
                </p>
            </div>
            <br />
            <button type="button" class="collapsible">Old Price</button>
            <div class="content">
                <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
                <p>New Price: $@Html.DisplayFor(model => model.OldPrice).00</p>
                <p id="disclosure">
                    Disclosure:After an 18 month rental period renting party will obtain ownership of
                    instrument. All Items returned before 3 month rental time period are subject to a $200
                    re-stocking fee. Rental returns before 18 months will forfeit any equity in instrument.
                </p>
            </div>
        </div>

    }
    else if (Model.InstrumentID == 3)
    {
        <div class="mason">
            <img src="~/Content/Images/tuba.png" class="imagetwo">
            <br />
            <button type="button" class="collapsible">New Price</button>
            <div class="content">
                <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
                <p>New Price: $@Html.DisplayFor(model => model.NewPrice).00</p>
                <p id="disclosure">
                    Disclosure:After an 18 month rental period renting party will obtain ownership of
                    instrument. All Items returned before 3 month rental time period are subject to a $200
                    re-stocking fee. Rental returns before 18 months will forfeit any equity in instrument.
                </p>
            </div>
            <br />
            <button type="button" class="collapsible">Old Price</button>
            <div class="content">
                <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
                <p>New Price: $@Html.DisplayFor(model => model.OldPrice).00</p>
                <p id="disclosure">
                    Disclosure:After an 18 month rental period renting party will obtain ownership of
                    instrument. All Items returned before 3 month rental time period are subject to a $200
                    re-stocking fee. Rental returns before 18 months will forfeit any equity in instrument.
                </p>
            </div>
        </div>

    }
    else if (Model.InstrumentID == 4)
    {
        <div class="mason">
            <img src="~/Content/Images/flute.png" class="imagetwo">
            <br />
            <button type="button" class="collapsible">New Price</button>
            <div class="content">
                <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
                <p>New Price: $@Html.DisplayFor(model => model.NewPrice).00</p>
                <p id="disclosure">
                    Disclosure:After an 18 month rental period renting party will obtain ownership of
                    instrument. All Items returned before 3 month rental time period are subject to a $200
                    re-stocking fee. Rental returns before 18 months will forfeit any equity in instrument.
                </p>
            </div>
            <br />
            <button type="button" class="collapsible">Old Price</button>
            <div class="content">
                <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
                <p>New Price: $@Html.DisplayFor(model => model.OldPrice).00</p>
                <p id="disclosure">
                    Disclosure:After an 18 month rental period renting party will obtain ownership of
                    instrument. All Items returned before 3 month rental time period are subject to a $200
                    re-stocking fee. Rental returns before 18 months will forfeit any equity in instrument.
                </p>
            </div>
        </div>
    }
    else if (Model.InstrumentID == 5)
    {
        <div class="mason">
            <img src="~/Content/Images/clarinet.png" class="imagetwo">
            <br />
            <button type="button" class="collapsible">New Price</button>
            <div class="content">
                <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
                <p>New Price: $@Html.DisplayFor(model => model.NewPrice).00</p>
                <p id="disclosure">
                    Disclosure:After an 18 month rental period renting party will obtain ownership of
                    instrument. All Items returned before 3 month rental time period are subject to a $200
                    re-stocking fee. Rental returns before 18 months will forfeit any equity in instrument.
                </p>
            </div>
            <br />
            <button type="button" class="collapsible">Old Price</button>
            <div class="content">
                <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
                <p>New Price: $@Html.DisplayFor(model => model.OldPrice).00</p>
                <p id="disclosure">
                    Disclosure:After an 18 month rental period renting party will obtain ownership of
                    instrument. All Items returned before 3 month rental time period are subject to a $200
                    re-stocking fee. Rental returns before 18 months will forfeit any equity in instrument.
                </p>
            </div>
        </div>
    }
    else if (Model.InstrumentID == 6)
    { 
        <div class="mason">
            <img src="~/Content/Images/Saxophone.png" class="imagetwo">
            <br />
            <button type="button" class="collapsible">New Price</button>
            <div class="content">
                <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
                <p>New Price: $@Html.DisplayFor(model => model.NewPrice).00</p>
                <p id="disclosure">
                    Disclosure:After an 18 month rental period renting party will obtain ownership of
                    instrument. All Items returned before 3 month rental time period are subject to a $200
                    re-stocking fee. Rental returns before 18 months will forfeit any equity in instrument.
                </p>
            </div>
            <br />
            <button type="button" class="collapsible">Old Price</button>
            <div class="content">
                <p>Instrument:@Html.DisplayFor(model => model.InstrumentName)</p>
                <p>New Price: $@Html.DisplayFor(model => model.OldPrice).00</p>
                <p id="disclosure">
                    Disclosure:After an 18 month rental period renting party will obtain ownership of
                    instrument. All Items returned before 3 month rental time period are subject to a $200
                    re-stocking fee. Rental returns before 18 months will forfeit any equity in instrument.
                </p>
            </div>
        </div>
    }


    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

</body>
</html>



