
@{
    ViewBag.Title = "About";
}
<link href="~/Content/MyStyles.css" rel="stylesheet" />


<body>
    @*this is the most influential page of all time!!! Dont you love it!!!!?!?!?!?*@
    <div class="jumbotron" id="Jumbo">
        <h3>Our Mightiest Hero</h3>
        <p id="Quote">
            "Music is like a dream. One that I cannot hear.” ―  Ludwig van Beethoven
        </p>
     
        <img src="~/Content/Images/Lazenbyyy.png"  id="FrontImage"/>

        <p>Our little music store was founded in the year 2019 by Benjamin Lazenby the third. Under his supervision our store has brought in millions of dollars in revenue this year alone.
        Our mission is to make everyone a muscian. With Ben's leadership, and our great instruments we know we can accomplish this.</p>
    </div>
</body>