
@{
    ViewBag.Title = "About";
}
<link href="~/Content/MyStyles.css" rel="stylesheet" />


<body>
    @*this is the most influential page of all time!!! Dont you love it!!!!?!?!?!?*@
    <div class="jumbotron" id="Jumbo">
        <h3>About music?</h3>
        <p id="Quote">
          It is YOU who makes Music Special
        </p>
     
        <img src="~/Content/Images/ian-schneider-TamMbr4okv4-unsplash.jpg" id="FrontImage" />

    </div>
</body>