@{
    ViewBag.Title = "BlowOut Musical Instrument Rentals";
}
<!--
    
Group 1-8 
 Mason Brockbank
 Logan Sackley
 Tyler Crowther
 Ben Lazenby
    
    -->
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/MyStyles.css" />
</head>
<body>

    <div class="jumbotron" id="Jumbo">
        <h3>Rent an Instrument!</h3>
        <img src="~/Content/Images/BlowOutBaby.jpg" id="FrontImage"/>
        <h3>
            Welcome to our website.  We  rent new and used instruments to those
            in need! If you are looking for an instrument click the Rentals tab above!
        </h3>
        <p id="Quote">

           
            "It's easy to play any musical instrument: all you
            have to do is touch the right key at the right time and
            the instrument will play itself.""
        </p>
        <p class="CursiveName">
            - Johann Sebastian Bach
        </p>
    </div>
</body>

