@{
    ViewBag.Title = "BlowOut Musical Instrument Rentals";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/MyStyles.css" />
</head>
<body>

<div class="jumbotron">

    <img src="~/Content/Images/BlowOutBaby.jpg" id="FrontImage" />
    <p>
        "It's easy to play any musical instrument: all you
        have to do is touch the right key at the right time and
        the instrument will play itself.""
    </p>  
    <p class="CursiveName">
        - Johann Sebastian Bach
    </p>
</div>
</body>

